<ul class="navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/#service">Service</a></li>
    <li><a href="/#feature">feature</a></li>
    <li><a href="/#price">price</a></li>
    <li><a href="/#faq">Faq</a></li>

    <li class="dropdown">
        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Accounts
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'organization_add' %}">Add Organization</a>
        </div>
    </li>
</ul>